.editor-container {
  margin: 1rem auto;
}

.editor-input {
  flex: 1;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  caret-color: #444;
}

[theme="dark"] .editor-input {
  caret-color: #eee;
  color-scheme: dark;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.tree-view-output {
  margin-top: 1rem;
  font-size: 12px;
}

.tree-view-output.MuiAppBar-root {
  background-color: #121212;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
  color-scheme: dark;
  max-height: 276px;
}

.tree-view-output pre {
  white-space: pre-wrap;
  word-break: break-word;
  scroll-behavior: smooth;
}

.toolbar {
  background-color: #fff;
}

[theme="dark"] .toolbar {
  background-color: #121212;
}

@media print {
  .editor-container {
    margin-top: 0 !important;
  }

  .editor-input {
    padding: 0 !important;
    margin-top: 0 !important;
  }

  *,
  *:before,
  *:after {
    filter: unset !important;
  }
}

.applet_scaler,
.gbb_preview {
  width: 100% !important;
  height: 100% !important;
}

.GeoGebraFrame .mainMenu > .menuView tr:first-of-type tr:nth-of-type(4),
.GeoGebraFrame .mainMenu > .menuView tr:first-of-type tr:nth-of-type(5),
.GeoGebraFrame .mainMenu > .menuView tr:first-of-type tr:nth-of-type(6),
.GeoGebraFrame .mainMenu > .menuView tr:first-of-type tr:nth-of-type(8),
.GeoGebraFrame .mainMenu > .menuView > tbody > tr:nth-last-of-type(1),
.GeoGebraFrame .mainMenu > .menuView > tbody > tr:nth-last-of-type(2) {
  display: none;
}

hr[data-lexical-decorator] {
  width: 100%;
  border: none;
  padding: 0.5em 0;
  cursor: pointer;
}

hr[data-lexical-decorator]:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}

hr[data-lexical-decorator].selected {
  outline: 2px solid rgb(60, 132, 244);
  user-select: none;
}

.excalidraw.excalidraw-modal-container {
  z-index: 1500 !important;
}

#typeahead-menu {
  z-index: 1500;
}
