.editor-container:has(.editor-input) {
  display: flex;
  flex-direction: column;
}

.editor-input {
  flex: 1;
  resize: none;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  caret-color: #eee;
}

body:has(.editor-input:not(:focus-within)) .floating-toolbar {
  display: none;
}

.floating-toolbar:has(:hover, :focus, :focus-within, :active) {
  display: block !important;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.editor-toolbar {
  background-color: #121212;
}

@media print {
  * {
    overflow: visible !important;
  }

  *,
  *:before,
  *:after {
    filter: unset !important;
  }
}

.excalidraw.excalidraw-modal-container,
#typeahead-menu {
  z-index: 1500 !important;
}

body:has(.excalidraw.excalidraw-modal-container) {
  position: initial !important;
  overflow: hidden !important;
}

.diff-container~.editor-input,
.diff-container~.MuiAppBar-root {
  display: none;
}

@media print,
(prefers-color-scheme: light) {
  .editor-input {
    caret-color: #444;
  }

  .editor-toolbar {
    background-color: #fff;
  }
}