.sticky-note-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sticky-tools {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  padding: 0.25rem;
  color: rgba(0, 0, 0, 0.87);
  pointer-events: none;
}

.sticky-tools button {
  border: 0;
  background: none;
  opacity: 0.5;
  pointer-events: all;
  z-index: 1;
}

.sticky-tools button:hover {
  font-weight: bold;
  opacity: 1;
}

.sticky-tools button svg {
  pointer-events: none;
}

.sticky-note-container .drag-btn {
  cursor: grab;
}

.sticky-note-container .drag-btn:active {
  cursor: grabbing;
}

@media (pointer: coarse) {
  .sticky-note-container .drag-btn {
    display: none;
  }
}