math-field {
  display: inline-block;
  white-space: initial;
  word-break: initial;
  outline: none;
  user-select: none;
}

[theme=dark] math-field {
  --selection-background-color: #546E7A;
}

[theme=dark] ::selection {
  background-color: #546E7A;
}

[theme=light] math-field.selection-active {
  background-color: #3390ff;
  color: white;
}

[theme=dark] math-field.selection-active {
  background-color: #546E7A;
  color: white;
}

/* mathlive virtula keyboard styles */
.ML__keyboard {
  --keycap-height: 52px !important;
  --keyboard-height: 290px !important;
}

.ML__keyboard .ML__keyboard--plate {
  width: 100%;
  height: var(--keyboard-height);
}

.ML__keyboard .ML__keyboard--plate>div.keyboard-layer {
  height: 100%;
}

.ML__keyboard .ML__keyboard--plate div .rows>ul {
  height: var(--keycap-height) !important;
  margin: 0 0 8px !important;
}

.ML__keyboard .ML__keyboard--plate div .rows>ul>li {
  height: var(--keycap-height) !important;
}

.ML__keyboard .ML__keyboard--plate div .rows>ul>li.separator:first-child {
  display: none;
}

@media (max-width: 414px) {
  .ML__keyboard .ML__keyboard--plate div .rows>ul>.w5 {
    width: 8px !important;
  }
}

div.ML__keyboard.material {
  z-index: 9999;
}

[theme=light] div.ML__keyboard.material {
  --keycap-background: #FFF !important;
}

[theme=dark] div.ML__keyboard.material {
  --keyboard-background: hsla(var(--hue, 212), 19%, 18%, 98%) !important;
  --keycap-background-active: #FAFAFA !important;
}


[theme=dark] .ML__keyboard .ML__keyboard--plate div .rows>ul>li aside {
  color: var(--keycap-text);
}

.ML__keyboard .ML__keyboard--plate div .rows>ul>li.is-pressed aside,
.ML__keyboard .ML__keyboard--plate div .rows>ul>li:hover aside {
  color: var(--keyboard-text-active);
}

@media print {
  .editor-container {
    margin-top: 0;
  }

  *,
  *:before,
  *:after {
    filter: unset !important;
  }

  .ML__keyboard {
    display: none !important;
  }
}