math-field {
  display: inline-block;
  white-space: initial;
  word-break: initial;
  outline: none;
  border: none;
  background: transparent;
  color: inherit;
  width: 100%;
  user-select: none;
}

math-field::part(virtual-keyboard-toggle) {
  display: none;
}

[theme=dark] math-field {
  --contains-highlight-background-color: rgba(255,255,255,0.1);
  --selection-background-color: #546E7A;
  --selection-color: white;
}

[theme=dark] ::selection {
  background-color: #546E7A;
}

[theme=light] math-field.selection-active {
  background-color: #3390ff;
  color: white;
  --selection-color: white;
}

[theme=dark] math-field.selection-active {
  background-color: #546E7A;
  color: white;
  --selection-color: white;
}

math-field:not(:focus) {
  --selection-color: #nope;
}

[theme=light] #mathlive-environment-popover {
  --environment-panel-background: #fff;
  --accent-color: #cacfd7;
}

[theme=dark] #mathlive-environment-popover {
  --environment-panel-background: #1f2022;
  --accent-color: #151515;
}

.ML__keyboard {
  --keycap-height: 52px !important;
  --keyboard-height: 295px !important;
  --keyboard-zindex: 9999;
}

.MLK__rows>.row div {
  height: var(--keycap-height) !important;
}

.MLK__plate .MLK__layer:nth-of-type(3) .MLK__rows .row:first-child {
  display: none !important;
}

.MLK__variant-panel {
  user-select: none;
}

@media print {
  .ML__keyboard {
    display: none !important;
  }
}