body {
  overflow-y: scroll !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

::selection {
  background-color: rgb(95 183 255 / 50%);
}

@media screen {
  .selection-highlight {
    background-color: rgb(95 183 255 / 50%);
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: red;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px red, 0 0 5px red;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.editor-container {
  flex: 1;
  margin: 1rem auto;
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

.editor-toolbar {
  background-color: #fff;
}

footer {
  z-index: 1000;
}

.splash-screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
}

.splash-screen-content {
  min-width: 192px;
  max-width: 75vw;
  height: 192px;
  text-align: center;
}

.splash-screen-content>img {
  display: block;
  margin: 0 auto;
}

.splash-screen-content .MuiTypography-overline {
  display: block;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 2.66;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
  min-height: 32px;
}

.splash-screen-content .MuiTypography-subtitle2 {
  display: block;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.57;
  letter-spacing: 0.00714em;
  min-height: 22px;
}

.MuiSnackbar-root {
  z-index: 15000;
}

.MuiFab-root.MuiFab-extended {
  color: var(--mui-palette-primary-contrastText);
}

[theme=light] .MuiFab-root.MuiFab-extended {
  color: var(--mui-palette-text-primary);
}

@media screen {
  [theme=dark] .editor-toolbar {
    background-color: #121212;
  }

  [theme=dark] .splash-screen {
    background-color: #121212;
  }  
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    background-color: #fff !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  body>*:not(.editor-container) {
    display: none !important;
  }
}

@font-face {
  font-family: Virgil;
  src: url(/excalidraw-assets/Virgil.woff2);
}

@font-face {
  font-family: Cascadia;
  src: url(/excalidraw-assets/Cascadia.woff2);
}

@font-face {
  font-family: Assistant;
  src: url(/excalidraw-assets/Assistant-Regular.woff2);
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/3e70b656b8cc773c-s.p.woff2) format("woff2");
  unicode-range: U+06??, U+0750-077f, U+0870-088e, U+0890-0891, U+0898-08e1, U+08e3-08ff, U+200c-200e, U+2010-2011, U+204f, U+2e41, U+fb50-fdff, U+fe70-fe74, U+fe76-fefc, U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/3e70b656b8cc773c-s.p.woff2) format("woff2");
  unicode-range: U+06??, U+0750-077f, U+0870-088e, U+0890-0891, U+0898-08e1, U+08e3-08ff, U+200c-200e, U+2010-2011, U+204f, U+2e41, U+fb50-fdff, U+fe70-fe74, U+fe76-fefc, U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/3e70b656b8cc773c-s.p.woff2) format("woff2");
  unicode-range: U+06??, U+0750-077f, U+0870-088e, U+0890-0891, U+0898-08e1, U+08e3-08ff, U+200c-200e, U+2010-2011, U+204f, U+2e41, U+fb50-fdff, U+fe70-fe74, U+fe76-fefc, U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url(/fonts/3e70b656b8cc773c-s.p.woff2) format("woff2");
  unicode-range: U+06??, U+0750-077f, U+0870-088e, U+0890-0891, U+0898-08e1, U+08e3-08ff, U+200c-200e, U+2010-2011, U+204f, U+2e41, U+fb50-fdff, U+fe70-fe74, U+fe76-fefc, U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da, U+02dc, U+0304, U+0308, U+0329, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215, U+feff, U+fffd
}