/* .diff-container u {
  text-decoration: none;
}
 */
.diff-container ins {
  background-color: rgb(200 255 200 / 50%);
  text-decoration: none;
}

.diff-container del {
  background-color: rgb(255 200 200 / 50%)
}