#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  color-scheme: auto;
  overflow-y: scroll !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

header {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.loading-bar {
  height: 3px;
  background-color: red;
  z-index: 9999;
}

[theme=dark] ::selection {
  background-color: #546E7A;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    background-color: #fff !important;
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .loading-bar {
    display: none !important;
  }
}

.editor-container {
  margin: 1rem auto 0;
}

.apexcharts-svg {
  background: unset !important;
}

body:has(>.MuiDialog-root) {
  overflow-y: hidden !important;
}

