@page {
  /* size: A4; */
  margin: 0.19in 0;
}

.editor-wrapper {
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  width: 21cm;
  min-height: 21cm;
  margin: 0 auto;
}

@media print {
  .editor-wrapper {
    padding: 0;
    box-shadow: none;
  }
}


math-field:focus-within {
  outline: none;
}
