.editor-container {
  margin: 2rem auto;
}

.ML__mathlive {
  padding: 4px;
  user-select: auto;
}

hr {
  width: 100%;
  border: none;
  padding: 0.5em 0;
  cursor: pointer;
}

hr:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}