body {
  max-width: 1200px;
  margin: 2rem auto !important;
  padding: 0 1.5rem !important;
  white-space: pre-wrap;
  word-break: break-word;
}

.LexicalTheme__image img,
.LexicalTheme__image svg {
  max-width: 100%;
  background-color: white;
}

.ML__mathlive {
  padding: 4px;
}

@font-face {
  font-family: Virgil;
  src: url(https://unpkg.com/@excalidraw/excalidraw/dist/excalidraw-assets/Virgil.woff2);
}

@font-face {
  font-family: Cascadia;
  src: url(https://unpkg.com/@excalidraw/excalidraw/dist/excalidraw-assets/Cascadia.woff2);
}

hr {
  border: none;
  padding: 0.5em 0;
  cursor: pointer;
}

hr:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ccc;
  line-height: 2px;
}