body {
  margin: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editor-shell {
  position: relative;
}

.editor-inner {
  position: relative;
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;
}

[theme="dark"] .editor-input {
  caret-color: #eee;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.tree-view-output {
  font-size: 12px;
}

.tree-view-output.MuiAppBar-root {
  background-color: #121212;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
  color-scheme: dark;
}

.tree-view-output pre {
  white-space: pre-wrap;
  word-break: break-all;
}

pre::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

pre::-webkit-scrollbar-thumb {
  background: #999;
}

.editor-container {
  margin-top: 1rem;
}

.editor-wrapper {
  padding: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  max-width: 21cm;
  margin: 0 auto;
}

.toolbar {
  background-color: #fff;
}

[theme="dark"] .toolbar {
  background-color: #121212;
}

math-field {
  display: inline-block;
  white-space: initial;
  word-break: initial;
  max-width: calc(100vw - 52px);
  user-select: none;
}

math-field:focus-within {
  outline: none;
}

math-field:empty:not(:focus-within) {
  min-width: 100px;
  outline: solid 1px;
  border-radius: 8px;
}

[theme=light] math-field.selection-active {
  background-color: #3390ff;
  color: white;
}

[theme=dark] math-field.selection-active {
  background-color: #455A64;
  color: white;
}

/* mathlive virtula keyboard styles */
div.ML__keyboard.material {
  z-index: 9999;
}

[theme=light] div.ML__keyboard.material {
  --keycap-background: #FFF !important;
}

[theme=dark] div.ML__keyboard.material {
  --keycap-background-active: #FAFAFA !important;
}

[theme=dark] math-field {
  --highlight: #455A64;
  --contains-highlight: #263238;
}

[theme=dark] ::selection {
  background-color: #455A64;
}

@media print {
  .editor-container {
    margin-top: 0;
  }

  .editor-wrapper {
    padding: 0;
    box-shadow: none;
  }

  .tree-view-output {
    display: none;
  }

  *, *:before, *:after {
    filter: unset !important;
  }
}

.applet_scaler.ggbTransform {
  width: 100% !important;
  height: 100% !important;
}
