body {
  margin: 0;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.editor-container {
  margin: 1rem auto 0;
}

.editor-shell {
  position: relative;
}

.editor-inner {
  position: relative;
}

.editor-input {
  min-height: 150px;
  resize: none;
  font-size: 15px;
  caret-color: rgb(5, 5, 5);
  position: relative;
  tab-size: 1;
  outline: 0;
  padding: 15px 10px;
  caret-color: #444;
}

[theme="dark"] .editor-input {
  caret-color: #eee;
}

.editor-placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 15px;
  left: 10px;
  font-size: 15px;
  user-select: none;
  display: inline-block;
  pointer-events: none;
}

.tree-view-output {
  font-size: 12px;
}

.tree-view-output.MuiAppBar-root {
  background-color: #121212;
  background-image: linear-gradient(rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09));
  color-scheme: dark;
  max-height: 276px;
}

.tree-view-output pre {
  white-space: pre-wrap;
  word-break: break-all;
  scroll-behavior: smooth;
}

.toolbar {
  background-color: #fff;
}

[theme="dark"] .toolbar {
  background-color: #121212;
}

math-field {
  display: inline-block;
  white-space: initial;
  word-break: initial;
  max-width: calc(100vw - 52px);
  outline: none;
  user-select: none;
}

[theme=light] math-field.selection-active {
  background-color: #3390ff;
  color: white;
}

[theme=dark] math-field.selection-active {
  background-color: #546E7A;
  color: white;
}

/* mathlive virtula keyboard styles */
.ML__keyboard {
  --keycap-height: 52px !important;
  --keyboard-height: 290px !important;
}

.ML__keyboard .ML__keyboard--plate {
  width: 100%;
  height: var(--keyboard-height);
}

.ML__keyboard .ML__keyboard--plate>div.keyboard-layer {
  height: 100%;
}

.ML__keyboard .ML__keyboard--plate div .rows>ul {
  height: var(--keycap-height) !important;
  margin: 0 0 8px !important;
}

.ML__keyboard .ML__keyboard--plate div .rows>ul>li {
  height: var(--keycap-height) !important;
}

.ML__keyboard .ML__keyboard--plate div .rows>ul>li.separator:first-child {
  display: none;
}

@media (max-width: 414px) {
  .ML__keyboard .ML__keyboard--plate div .rows>ul>.w5 {
    width: 8px !important;
  }
}

div.ML__keyboard.material {
  z-index: 9999;
}

[theme=light] div.ML__keyboard.material {
  --keycap-background: #FFF !important;
}

[theme=dark] div.ML__keyboard.material {
  --keyboard-background: hsla(var(--hue, 212), 19%, 18%, 98%) !important;
  --keycap-background-active: #FAFAFA !important;
}

[theme=dark] math-field {
  --highlight: #546E7A;
  --contains-highlight: #263238;
}

[theme=dark] ::selection {
  background-color: #546E7A;
}

[theme=dark] .ML__keyboard .ML__keyboard--plate div .rows>ul>li aside {
  color: var(--keycap-text);
}

.ML__keyboard .ML__keyboard--plate div .rows>ul>li.is-pressed aside,
.ML__keyboard .ML__keyboard--plate div .rows>ul>li:hover aside {
  color: var(--keyboard-text-active);
}

@media print {
  .editor-container {
    margin-top: 0;
  }

  *,
  *:before,
  *:after {
    filter: unset !important;
  }
}

.applet_scaler,
.gbb_preview {
  width: 100% !important;
  height: 100% !important;
}

@font-face {
  font-family: "Virgil";
  src: url("@excalidraw/excalidraw/dist/excalidraw-assets/Virgil.woff2");
}

@font-face {
  font-family: "Cascadia";
  src: url("@excalidraw/excalidraw/dist/excalidraw-assets/Cascadia.woff2");
}